<h1>K9 Center</h1>

<h3>The best place for your pup</h3>

<div class="container-fluid" id="hero">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
       <img class="img-responsive" id="hero-pic" src="https://upload.wikimedia.org/wikipedia/commons/1/17/Westie_pups.jpg" alt="westies">
    
    <br>
    <a href="/dogs"> Meet our wonderful dogs! </a>
    <br>
	<a href="/owners"> Here are our lovely customers! </a>
	<!-- we could hide or otherwise protect these links for customer privacy and security -->
	<br>
	<a href="/vets"> Local veterinarians for your reference. </a>
	</div>
  </div>

</div>