<h1>K9 Center</h1>

<h3>The best place for your pup</h3>

<div class="container-fluid" id="hero">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
       <img class="img-responsive" id="hero-pic" src="https://upload.wikimedia.org/wikipedia/commons/1/17/Westie_pups.jpg" alt="westies">
    </div>
  </div>

</div>